{
    ApplicationDescription = "Realtime Visualisation Demo";
    ApplicationName = RTV;
    ApplicationRelease = 0.10;
    Authors = ( "Thomas Gamper" );
    Copyright = "Copyright (C) 2009 Thomas Gamper";
    FullVersionID = 0.10;
    NSExecutable = RTV;
    NSMainNibFile = RTV.gorm;
    NSPrincipalClass = NPApplication;
    NSRole = Application;
    Fullscreen = NO;
    Width = 1024;
    Height = 1024;
    FSAA = 0;
    Anisotropy = 1;
    VSync = YES;
}
 
