{
    ApplicationDescription = "OceanDemo";
    ApplicationName = OceanDemo;
    ApplicationRelease = 0.10;
    Authors = ( "Thomas Gamper" );
    Copyright = "Copyright (C) 2007 Thomas Gamper";
    CopyrightDescription = "Released under GPL.";
    FullVersionID = 0.10;
    NSExecutable = OceanDemo;
    NSMainNibFile = OceanDemo.gorm;
    NSPrincipalClass = ODApplication;
    NSRole = Application;
}
 
